.space{ 
height:5px;
}
textarea{
width: 720px; height: 350px;
}
.lspace{
	margin-right: 10px;
}
#prijava {
  
  width:100%;
  height:100%;
  position:absolute;
  z-index:99;
  top: 50%;
  text-align:center;
}  

#main{
	visibility:hidden;
	position:absolute;
	z-index:1;
}